<template>
    <div class="container">
        <div class="cards-grid">
            <card
                v-for="(item, index) in food"
                :recipe="item"
                :index="index"
                :key="item.name">
            </card>
        </div>
    </div>
</template>

<script>
import FoodList from '../../resources/FoodList'
import Card from './Card'

export default {
    name: 'cards',
    components: { Card },
    data() {
        return {
            food: null
        }
    },
    created() {
        this.food = FoodList
    }
}
</script>

