<template>
    <div class="card" :style="{ backgroundImage: `url('${recipe.largeImage}')` }">
        <div class="card-content flex f-c">
            <h2 class="card-title text-overflow">{{ recipe.name }}</h2>
            <p class="card-description l-m-b">{{ recipe.shortDesc }}</p>
            <span class="card-notes block">Cost: {{ recipe.avgCost }}</span>
            <span class="card-notes block m-m-b">Time: {{ recipe.cookTime }}</span>
            <button class="button primary f-m-t-a">View Recipe</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'card',
    props: {
        recipe: { type: Object, default: null }
    }
}
</script>

