<template>
    <nav class="main-nav flex f-s-b" :class="{ scrolled: scrolled }">
        <div class="main-nav-left flex">
            <router-link class="main-nav-item" to="/">What's for dinner</router-link>
        </div>
        <div class="main-nav-right flex">
            <div class="main-nav-dropdown-container flex f-v-c">
                <router-link class="main-nav-item" to="/" @click.native.prevent="featureDropdown = !featureDropdown">Featured <i class="zmdi zmdi-chevron-down"></i></router-link>
                <transition name="nav-dropdown">
                    <div class="main-nav-dropdown elevation-4 flex f-c" v-if="featureDropdown" v-on-clickaway="hideFeatureDropdown">
                        <router-link class="main-nav-item text-overflow" v-for="feature in featured" :key="feature" to="/">{{ feature.name }}</router-link>
                    </div>
                </transition>
            </div>
            <router-link class="main-nav-item" to="/">Login</router-link>
            <router-link class="main-nav-item" to="/">Register</router-link>
        </div>
    </nav>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import FoodList from '../../resources/FoodList'

export default {
    name: 'main-navigation',
    mixins: [clickaway],
    data() {
        return {
            featureDropdown: false,
            scrolled: false
        }
    },
    created() {
        this.navScroll()
    },
    computed: {
        featured() {
            return FoodList.filter(obj => obj.hasOwnProperty('featured'))
        }
    },
    methods: {
        hideFeatureDropdown() {
            this.featureDropdown = !this.featureDropdown
        },
        navScroll() {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 10) {
                    this.scrolled = true
                    return
                }
                this.scrolled = false
            })
        }
    }
}
</script>
