<template>
    <div class="app">
        <main-nav></main-nav>
        <hero class="g-s-m-b"></hero>
        <cards class="g-s-m-b"></cards>
        <MainFooter></MainFooter>
    </div>
</template>

<script>
import MainNav from './Navigation/MainNav'
import Hero from './Hero/Hero'
import Cards from './Cards/Cards'
import MainFooter from './Footer/MainFooter'

export default {
    name: 'landing',
    components: { MainNav, Hero, Cards, MainFooter }
}
</script>

