<template>
    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <div class="text-white text-center">&copy; 2017 What's for dinner</div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'main-footer'
}
</script>

