// VUE ANIMATIONS
.nav-dropdown-enter-active {
    animation: nav-fade 300ms ease;
}

.nav-dropdown-leave-active {
    animation: nav-fade 300ms ease reverse;
}

// PROJECT ANIMATIONS
@keyframes nav-fade {
    0% {
        opacity: 0;
        transform: translateY(-10%) scale(.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


