.card {
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    padding: #{$l-space * 2};
    position: relative;
    transform: translateZ(0);

    &::before {
        background: rgba($black, .65);
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 300ms ease;
    }

    &:hover {
        .card-content {
            opacity: 1;
            transform: scale(1);
        }

        &::before {
            opacity: 1;
        }
    }
}

.card-content {
    height: 100%;
    opacity: 0;
    transform: scale(.85);
    transition: transform 300ms ease, opacity 300ms ease;
    z-index: $z-two;
}

.card-title {
    color: $white;
    font-size: 1.4rem;
}

.card-description,
.card-notes {
    color: $light-grey;
    font-size: $l-space;
}

.card-notes {
    font-style: italic;
}
