html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

* {
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    background: $extra-light-grey;
    color: $font-primary;
    font-family: 'proxima-nova', sans-serif;
}

.block {
    display: block;
}

.button {
    border-radius: 30rem;
}
