.g-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 73.125rem;
    padding: 0 $g-grid-space;
}

.cards-grid {
    display: grid;
    grid-gap: $g-grid-space;
    grid-template: auto / 1fr 1fr 1fr;

    @media screen and (max-width: $g-medium) {
        grid-template: auto / 1fr 1fr;
    }

    @media screen and (max-width: $g-small) {
        grid-template: auto / 1fr;
    }
}
