.hero {
    background-image: linear-gradient(to bottom, rgba($primary, .85), rgba($primary, .85)), url('https://unsplash.it/1920/1080?image=42');
    background-position: center center;
    background-size: cover;
    height: 60vh;
    margin-bottom: $g-grid-space;
    padding: $l-space;
}

.hero-logo {
    fill: $white;
    height: 300px;
    max-width: 650px;
    transition: transform 300ms ease;

    &:hover {
        transform: scale(1.05);
    }
}
