.main-nav {
    left: 0;
    padding: $l-space;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 300ms ease;
    z-index: $z-four;

    &.scrolled {
        @extend .elevation-4;
        background: $extra-light-grey;
        padding: $m-space;

        .main-nav-item {
            color: $primary;
        }
    }
}

.main-nav-item {
    color: $white;
    font-size: .875rem;
    font-weight: $font-bold;
    letter-spacing: .08rem;
    padding: $l-space;
    text-transform: uppercase;
}

.main-nav-dropdown-container {
    position: relative;
}

.main-nav-dropdown {
    background: $white;
    border-radius: 3px;
    padding: $m-space 0;
    position: absolute;
    right: 0;
    top: 110%;
    width: 16rem;

    .main-nav-item {
        color: $primary;

        &:hover {
            background: $extra-light-grey;
        }
    }

    &::after {
        border-bottom: 7px solid $white;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 7px;
        top: -7px;
        transform: translateX(-50%);
        width: 0;
    }
}
