$primary: #63d8a4;
$primary-dark: darken($primary, 5%);
$primary-light: lighten($primary, 5%);

$g-grid-space: calc(#{$grid-space} * 2);

$font-primary: #212121;
$font-muted: #757575;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
